body{
    background-color:rgb(43, 53, 53);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#container{
    display: flex;
}
.cartao{
    margin: 1rem 1rem;
    background-color: rgb(50, 146, 146);
}